.userList{
    flex: 4;
}

.tableUser{
    display: flex;
    align-items: center;
}

.tableUser >img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}


.userListEdit{
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 5px;
}

.userListDelete{
    color:red;
    cursor: pointer;
}